<div id="front-page-banner-img" class="container-fluid">

</div>

<div class="subtitle-block">
  <h2>Featured</h2>
</div>

<div class=" card-container text-center">
  <% @coffeeshops.each do |coffeeshop| %>
    <div class="col-md-4">
      <div class="card-header">
        <img class="card-image" src=<%= coffeeshop.imageLink %>> 
      </div>
      <div class="card-title">
        <h3><%= truncate(coffeeshop.name, length: 20) %></h3>
      </div>
      <div class="card-body">
        <p>asdlf</p>
      </div>
    </div>
  <% end %>
</div>

    <%= form_tag(coffeeshops_path, :method => "get", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Looking for" %>
      <button class="btn" type="submit"><%= fa_icon "search" %></button>
    </div>
  <% end %>

<!-- highest reviewed -->

<!-- newest editions -->

<!-- best study -->

<!-- best coffee -->

<!-- etc. -->
