<%= provide(:title, "#{@menu.coffeeshop.name}'s Menu") %>

<h2><%= @menu.coffeeshop.name %>'s Menu</h2>

<div id="menu-wrapper" class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <% if current_user && current_user.admin? && @menu %>
        <%= link_to 'Add an item', new_menu_item_path(@menu), class: 'btn btn-blue' %>
      <% end %>
      <%= link_to 'Back to Coffeeshop', coffeeshop_path(@menu.coffeeshop), class: 'btn btn-gray' %>
    </div>
  </div>
 
  <% if @menu.items.any? %>
  <hr>
  <div id="menu">
    <% @menu.items.each do |item| %>
      <div id="item-<%= item.id %>" class="col-xs-12 menu-item">
        <span class="menu-pic">
          <%= image_tag item.picture.url if item.picture? %>
        </span><br>
        <p class="lead">
          <%= item.name %>
        </p><br>
        <% if current_user && current_user.admin? && @menu %>
          <%= link_to 'Edit', edit_menu_item_path(@menu, item), class: 'btn btn-xs btn-gray' %>
          <%= link_to 'Remove', menu_item_path(item.menu, item), remote: true, data: { confirm: 'Are you sure?', method: :delete }, class: 'btn btn-xs btn-red' %>
        <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

