<% provide(:title, "Admin Dashboard") %>
<div id="admin-wrapper" class="text-center">
  <div class="text-center row">
    <h2>Admin Dashboard</h2>
  </div>

  <div class="text-center row">
    <h3>Recent Coffeeshop Submissions</h3>
  </div>

  <% @coffeeshops.each do |coffeeshop| %>
    <div class="container text-left">
      <div id="coffeeshop-<%= coffeeshop.id %>">
        <ul class="list-group">
          <li class="list-group-item list-group-item-heading">
            <% if coffeeshop.picture? %>
              <%= image_tag coffeeshop.picture.url, class: 'card-image' %>
            <% else %>
              <%= image_tag("mug.png", class: 'card-image') %>
            <% end %>
            <span class="pull-right">
              <%= link_to "Approve", { :controller => "coffeeshops", :action => "approve", :id => coffeeshop.id }, :method => :patch, :remote => true, class: 'btn btn-default' %>
              <%= link_to "Remove", coffeeshop_path(coffeeshop), id: 'remove-coffeeshop-link', remote: true, data: { confirm: 'are you sure?', method: :delete }, class: 'btn btn-default' %>
            </span>
          </li>
          <li class="list-group-item"><b>Name:</b> <%= truncate(coffeeshop.name) %></li>
          <li class="list-group-item"><b>Address:</b> <%= truncate(coffeeshop.address) %></li>
          <li class="list-group-item"><b>Website:</b> <%= truncate(coffeeshop.webAddress) %></li>
          <li class="list-group-item"><b>Style:</b> <%= truncate(coffeeshop.style) %></li>
          <li class="list-group-item"><b>City:</b> <%= truncate(coffeeshop.city) %></li>
          <li class="list-group-item"><b>State:</b> <%= truncate(coffeeshop.state) %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
