<% provide(:title, @user.name) %>

<div id="profile-page-wrapper" >

  <% if @user == current_user %>
    <div id="profile-edit">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-default' %> 
    </div>
  <% end %>
  
  <div id="profile-picture" class="row" >
    <%= gravatar_for @user %>
    <% if @user == current_user %>
      <a href="http://gravatar.com/emails">change</a>
    <% end %>
  </div>

  <div id="profile-name" class="row">
    <h1><%= @user.name %></h1>
  </div>

  <div id="profile-details" class="row">
    <div class="col-xs-12">
      <p> <%= fa_icon "map-marker" %> <%= @user.location %> </p>
        <%= link_to "#{@user.facebook_link}" do %>
          <%= fa_icon "facebook-square" %>
        <% end %>
        <%= link_to "#{@user.google_link}" do %>
          <%= fa_icon "google-plus-square" %>
        <% end %>
        <%= link_to "#{@user.instagram_link}" do %>
          <%= fa_icon "instagram" %>
        <% end %>
        <%= link_to "#{@user.twitter_link}" do %>
          <%= fa_icon "twitter-square" %>
        <% end %>
    </div>
  </div>

<div id="profile-reviews">
  <div class="title">
    <h4>About</h4>
  </div>
  <div class="simple-box">
    <p><span class="lead">Bio: </span><%= @user.bio %></p>
    <p><span class="lead">Fav Coffee: </span><%= @user.favorite_coffee %></p>
    <p><span class="lead">Fav Coffeeshops: </span><%= @user.favorite_coffee %></p>
  </div>


  <div class="title">
    <h4>Recent Reviews</h4>
  </div>
  <div class="simple-box">
    <p><% @user.reviews.each do |review| %>
        <%= review.title %>
       <% end %>
    </p>
  </div>
</div>

