// flash container
$("#flash-container").html(
  "<div class='alert alert-success'>Review was added successfully!</div>"
);

// hide the review form
$("#add-review-form").remove();

// append to reviews container
$("#review-container").prepend(
  '<div id="@review-<%= @review.id %>">' +
    '<div class="media-left pull-left">' +
      '<%= link_to user_path(@review.user) do %>' +
        '<span class="review-pic"><%= gravatar_for @review.user %></span>' +
      '<% end %>' +
    '</div>' +
    '<div class="media-body">' +
      '<h4 class="media-heading"><span class="pull-left"><%= truncate(@review.user.name) %>, ' +
        '<%= time_ago_in_words(@review.created_at) %> ago' +
        '<% if current_user && current_user.admin? %>' +
          '<%= link_to coffeeshop_review_path(@coffeeshop, @review), remote: true, data: { confirm: "area you sure", method: :delete } do %>' +
            '<%= fa_icon "trash-o" %>' +
          '<% end %>' +
        '<% end %>' +
      '</span><br>' +
    '</h4>' +
    '<p class="text-center pull-left"><%= @review.body %></p>' +
  '</div>' +
'</div><br><hr>'
)
