<%= form_for(@coffeeshop) do |f| %>
  <% if @coffeeshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffeeshop.errors.count, "error") %> prohibited this coffeeshop from being saved:</h2>

      <ul>
      <% @coffeeshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :qualityRating %><br>
    <%= f.number_field :qualityRating %>
  </div>
  <div class="field">
    <%= f.label :studyRating %><br>
    <%= f.number_field :studyRating %>
  </div>
  <div class="field">
    <%= f.label :laptopRating %><br>
    <%= f.number_field :laptopRating %>
  </div>
  <div class="field">
    <%= f.label :hipsterRating %><br>
    <%= f.number_field :hipsterRating %>
  </div>
  <div class="field">
    <%= f.label :imageLink %><br>
    <%= f.text_field :imageLink %>
  </div>
  <div class="field">
    <%= f.label :webAddress %><br>
    <%= f.text_field :webAddress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
