<div class="simple-box container">
  <%= form_for(@coffeeshop, html: { multipart: true }) do |f| %>
    <% if @coffeeshop.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coffeeshop.errors.count, "error") %> prohibited this coffeeshop from being saved:</h2>

        <ul>
        <% @coffeeshop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-left col-xs-12">
      <h4>Contact Information</h4>
    </div>

    <div class="form-group">
      <div class="col-md-12 text-left">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-7 text-left">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="col-md-3 text-left">
        <%= f.label :city, class: 'slight-margin-top' %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="col-md-2 text-left">
        <%= f.label :state, class: 'slighter-margin-top' %>
        <%= f.select(:state, options_for_select(get_states), {}, { class: 'form-control' })%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 text-left">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control', placeholder: '##########' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 text-left">
        <%= f.label :webAddress, "Website" %>
        <%= f.text_field :webAddress, class: 'form-control' %>
      </div>
    </div>

    <div class="text-left col-xs-12">
      <h4>Business Details</h4>
    </div>

    <div class="form-group">
      <div class="col-md-3 text-left">
        <%= f.label :weekday_opens_at, "Weekday Opens at" %>
        <%= f.text_field :weekday_opens_at, class: 'form-control' %>
      </div>
      <div class="col-md-3 text-left">
        <%= f.label :weekday_closes_at, "Weekday Closes at" %>
        <%= f.text_field :weekday_closes_at, class: 'form-control' %>
      </div>
      <div class="col-md-3 text-left">
        <%= f.label :weekend_opens_at, "Weekend Opens at" %>
        <%= f.text_field :weekend_opens_at, class: 'form-control' %>
      </div>
      <div class="col-md-3 text-left">
        <%= f.label :weekend_closes_at, "Weekend Closes at" %>
        <%= f.text_field :weekend_closes_at, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 text-left">
        <%= f.label :picture, "Upload image of Coffeeshop" %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4 text-left slight-margin-top">
        <%= f.label :accepts_credit %>
        <%= f.check_box :accepts_credit %>
      </div>
      <div class="col-xs-4 text-left slight-margin-top">
        <%= f.label :veggie_friendly, "Vegetarian Friendly" %>
        <%= f.check_box :veggie_friendly %>
      </div>
      <div class="col-md-4 text-left slight-margin-top">
        <%= f.label :vegan_friendly, "Vegan Friendly" %>
        <%= f.check_box :vegan_friendly %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4 text-left">
        <%= f.label :style %>
        <%= f.select(:style, options_for_select(["formal", "casual"]), {}, { class: 'form-control' })%>
      </div>
      <div class="col-xs-4 text-left">
        <%= f.label :price, "How expensive?" %>
         <%= f.select(:price, options_for_select([ ["very expensive", 5], ["expensive", 4], ["average", 3], ["cheap", 2], ["dirt cheap", 1]]), {}, { class: 'form-control' })%>
      </div>
      <div class="col-md-4 text-left">
        <%= f.label :parking %>
        <%= f.select(:parking, options_for_select(["lots", "some", "none"]), {}, { class: 'form-control' })%>
      </div>
    </div>

    <div class="col-md-12 btn-container">
      <%= f.submit"List shop", class: 'btn btn-blue' %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  // Validate picture size
  $('#coffeeshop_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
