<p id="notice"><%= notice %></p>

<h1>Listing Coffeeshops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Qualityrating</th>
      <th>Studyrating</th>
      <th>Laptoprating</th>
      <th>Hipsterrating</th>
      <th>Imagelink</th>
      <th>Webaddress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coffeeshops.each do |coffeeshop| %>
      <tr>
        <td><%= coffeeshop.name %></td>
        <td><%= coffeeshop.address %></td>
        <td><%= coffeeshop.qualityRating %></td>
        <td><%= coffeeshop.studyRating %></td>
        <td><%= coffeeshop.laptopRating %></td>
        <td><%= coffeeshop.hipsterRating %></td>
        <td><%= coffeeshop.imageLink %></td>
        <td><%= coffeeshop.webAddress %></td>
        <td><%= link_to 'Show', coffeeshop %></td>
        <td><%= link_to 'Edit', edit_coffeeshop_path(coffeeshop) %></td>
        <td><%= link_to 'Destroy', coffeeshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffeeshop', new_coffeeshop_path %>
