<% provide(:title, "Coffeeshops") %>

<div class="container content-container">

<div class=" banner-row">
  <h2 class="main-heading">Results</h2>
</div>

  <div id="search-container">
    <div class="col-md-6">
      <%= form_tag(coffeeshops_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray" type="button"><%= fa_icon "map-marker" %></button>
          </span>
          <%= text_field_tag :search_location, params[:search_location], class: "form-control nudge", placeholder: "Search by location..." %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_tag(coffeeshops_path, :method => "get", id: "search-form") do %>
        <div class="input-group ">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-blue btn-default" type="button"><%= fa_icon "search" %></button>
          </span>
          <%= text_field_tag :search, params[:search], class: "form-control nudge", placeholder: "Search by name..." %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-group-xs text-left container" role="group" aria-label="filters">
    <%= link_to params.merge(:filter => "1"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">$</button>
    <% end %>
    <%= link_to params.merge(:filter => "2"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">$$</button>
    <% end %>
    <%= link_to params.merge(:filter => "3"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">$$$</button>
    <% end %>
    <%= link_to params.merge(:filter => "4"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">$$$$</button>
    <% end %>
    <%= link_to params.merge(:filter => "5"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">$$$$$</button>
    <% end %>
    <%= link_to params.merge(:filter => "vegan"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">Vegan</button>
    <% end %>
    <%= link_to params.merge(:filter => "veggie"), :method => "get" do %>
      <button type="button" class="filter-btn btn btn-default">Veggie</button>
    <% end %>

    <%= link_to coffeeshops_path do %>
      <button type="button" class="filter-btn btn btn-default">Clear All Filters</button>
    <% end %>
  </div>

  <% if @came_from_search %>
    <p>Your search returned: <%= pluralize(@coffeeshops.count, 'result') %></p>
  <% end %>
  <div id="results-listing" class="card-container text-left col-md-7">
    <%= will_paginate @coffeeshops, renderer: BootstrapPagination::Rails %>
    <ul class="list-group">
      <% @coffeeshops.each_with_index do |coffeeshop, index| %>
        <%= link_to coffeeshop_path(coffeeshop) do %>
          <li class="list-group-item">
            <h4><% if coffeeshop.picture? %>
                <%= image_tag coffeeshop.picture.url, class: 'card-image' %>
              <% else %>
                <%= image_tag("mug.png", class: 'card-image') %>
              <% end %>
              <span id="<%= index %>-name"><%= coffeeshop.name %></span>
              <small id="<%= index %>-address">
                <%= coffeeshop.full_address %>
                <span id="<%= index %>-lat" class="hidden"><%= coffeeshop.latitude %></span>
                <span id="<%= index %>-lng" class="hidden"><%= coffeeshop.longitude %></span>
              </small>
            </h4>
            Overall: <%= calculate_stars(coffeeshop, "overall_average").html_safe %> 
          <% end %>
            <span class="pull-right">
              <button id="<%= index %>" type="button" class="btn map-trigger btn-sm btn-blue" data-toggle="modal" data-target=".bs-example-modal-lg">Map <%= fa_icon "map-marker" %></button>
            </span>
          </li>
      <% end %>
    </ul>
  <%= will_paginate @coffeeshops, renderer: BootstrapPagination::Rails %>
  </div>
  <% if @coffeeshops.any? %>
  <div id="map-container" class="col-md-5 card-container text-right">
    <div id="map"></div>
  </div>
  <% end %>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h4 class="modal-title"></h4>
      <div class="modal-body">
        <div id="modal-map" style="width: 530px; margin: auto; height: 500px">

        </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
    </div>
  </div>
</div>

<script>

  // affix 
  $("#map-container").affix({
    offset: {
      top: $("#results-listing")
    }
  });

  $(".filter-btn").on("click", function() {
    $(this).addClass("filter-active");
  });

</script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  // Individual maps 
  $(".map-trigger").on("click", function(event) {
    event.preventDefault();
    var idPrefix = event.target.id;
    var coffeeshopName = $("#" + idPrefix + "-name").text();
    var coffeeshopAddress = $("#" + idPrefix + "-address").text();
    var coffeeshopLatitude = parseFloat( $("#" + idPrefix + "-lat").text() );
    var coffeeshopLongitude = parseFloat( $("#" + idPrefix + "-lng").text() );

    $(".modal-title").text(coffeeshopName);
    initialize(coffeeshopLatitude, coffeeshopLongitude, coffeeshopName);
  });

  $('.bs-example-modal-lg').on('shown.bs.modal', function () {
    var currentCenter = dynamicMap.getCenter();
    google.maps.event.trigger(dynamicMap, "resize");
    dynamicMap.setCenter(currentCenter);
  })

  function initialize(lat, lng, name) {
    // keep dynamicMap as a global in order to create an external reference to the modal
    // show event to trigger resize. without this, map remains gray because modal changes
    // the size of the div
    window.dynamicMap = new google.maps.Map(document.getElementById('modal-map'), {
      zoom: 10,
      center: {lat: lat, lng: lng }
    });
    google.maps.event.trigger(dynamicMap, "resize");
    infowindow = new google.maps.InfoWindow({
      content: name
    });
    var marker = new google.maps.Marker({
      position: { lat: lat, lng: lng },
      map: dynamicMap,
      animation: google.maps.Animation.DROP,
      title: name
    });
    marker.addListener('click', function() {
      infowindow.open(dynamicMap, marker);
    });
  }
</script>


<script>
// Global map that charts all of the locations 
  function initMap() {
    
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8
      // center: {lat: 41.8369, lng: 87.6847}
    });
    var latlngbounds = new google.maps.LatLngBounds();
    <% i = 0 %>
    <% @coffeeshops.each do |coffeeshop| %>
      var infowindow<%= i %> = new google.maps.InfoWindow({
        content: "<%= coffeeshop.name %>"
      });
      var marker<%= i %> = new google.maps.Marker({
        position: {lat: <%= coffeeshop.latitude %>, lng: <%= coffeeshop.longitude %>},
        map: map,
        animation: google.maps.Animation.DROP,
        title: "<%= coffeeshop.name %>"
      });
      latlngbounds.extend(marker<%= i %>.position);
      marker<%= i %>.addListener('click', function() {
        infowindow<%= i %>.open(map, marker<%= i %>);
      });
      <% i = i+1 %>
    <% end %>
    map.fitBounds(latlngbounds);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxb-nwbVf_TPsKG2BygPDyK8-AJUM_JtY&signed_in=true&callback=initMap"></script>
