<% provide(:title, "Coffeeshops") %>

<div class="container content-container">

  <% if @came_from_search %>
    <div class="col-xs-12">
      <button id="toggle-form" class="btn btn-blue">Not Satisfied?</button>
    </div>
    <div id="search-container" class="hidden">
      <div class="col-md-6">
        <%= form_tag(coffeeshops_path, :method => "get", id: "search-form") do %>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-gray" type="button"><%= fa_icon "map-marker" %></button>
            </span>
            <%= text_field_tag :search_location, params[:search_location], class: "form-control nudge", placeholder: "Search by location..." %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form_tag(coffeeshops_path, :method => "get", id: "search-form") do %>
          <div class="input-group ">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-blue btn-default" type="button"><%= fa_icon "search" %></button>
            </span>
            <%= text_field_tag :search, params[:search], class: "form-control nudge", placeholder: "Search by name..." %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @show_map %>
    <div id="map"></div>
    <% end %>
  <% end %>

  <div class="text-left">
    <%= will_paginate @coffeeshops, renderer: BootstrapPagination::Rails %>
  </div>
  <% if @came_from_search %>
    <p>Your search returned: <%= @coffeeshops.count %> result(s)</p>
  <% end %>
  <div class="card-container text-left">
    <ul class="list-group">
      <% @coffeeshops.each_with_index do |coffeeshop, index| %>
        <%= link_to coffeeshop_path(coffeeshop) do %>
          <li class="list-group-item">
            <h3><% if coffeeshop.picture? %>
                <%= image_tag coffeeshop.picture.url, class: 'card-image' %>
              <% else %>
                <%= image_tag("mug.png", class: 'card-image') %>
              <% end %>
              <span id="<%= index %>-name"><%= coffeeshop.name %></span>
              <small id="<%= index %>-address">
                <%= coffeeshop.full_address %>
                <span id="<%= index %>-lat" class="hidden"><%= coffeeshop.latitude %></span>
                <span id="<%= index %>-lng" class="hidden"><%= coffeeshop.longitude %></span>
              </small>
            </h3>
            <%= calculate_stars(coffeeshop).html_safe %>
          <% end %>
            <span class="pull-right">
              <button id="<%= index %>" type="button" class="btn map-trigger btn-sm btn-blue" data-toggle="modal" data-target=".bs-example-modal-lg">Open map <%= fa_icon "map-marker" %></button>
            </span>
          </li>
      <% end %>
    </ul>
  </div>
  <%= will_paginate @coffeeshops, renderer: BootstrapPagination::Rails %>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h4 class="modal-title"></h4>
      <div class="modal-body">
        <div id="modal-map" style="width: 530px; margin: auto; height: 500px">

        </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
    </div>
  </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  $(".map-trigger").on("click", function(event) {
    event.preventDefault();
    var idPrefix = event.target.id;
    var coffeeshopName = $("#" + idPrefix + "-name").text();
    var coffeeshopAddress = $("#" + idPrefix + "-address").text();
    var coffeeshopLatitude = parseFloat( $("#" + idPrefix + "-lat").text() );
    var coffeeshopLongitude = parseFloat( $("#" + idPrefix + "-lng").text() );

    $(".modal-title").text(coffeeshopName);
    initialize(coffeeshopLatitude, coffeeshopLongitude, coffeeshopName);
  });

  function initialize(lat, lng, name) {
    var map = new google.maps.Map(document.getElementById('modal-map'), {
      zoom: 5,
      center: {lat: lat, lng: lng }
    });
    infowindow = new google.maps.InfoWindow({
      content: name
    });
    var marker = new google.maps.Marker({
      position: { lat: lat, lng: lng },
      map: map,
      animation: google.maps.Animation.DROP,
      title: name
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

</script>


<% if @show_map %>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: 41.8369, lng: 87.6847}
      });
      <% i = 0 %>
      <% @coffeeshops.each do |coffeeshop| %>
      var infowindow<%= i %> = new google.maps.InfoWindow({
        content: "<%= coffeeshop.name %>"
      });
      var marker<%= i %> = new google.maps.Marker({
        position: {lat: <%= coffeeshop.latitude %>, lng: <%= coffeeshop.longitude %>},
        map: map,
        animation: google.maps.Animation.DROP,
        title: "<%= coffeeshop.name %>"
      })
      marker<%= i %>.addListener('click', function() {
        infowindow<%= i %>.open(map, marker<%= i %>);
      });
      <% i = i+1 %>
      <% end %>
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxb-nwbVf_TPsKG2BygPDyK8-AJUM_JtY&signed_in=true&callback=initMap"></script>
<% end %>
