<% provide(:title, @coffeeshop.name) %>

<div id="coffeeshop-wrapper">

  <div class="banner row">    
    <h2><%= @coffeeshop.name %></h2>
    <h2><small><%= @coffeeshop.full_address %></small></h2>
  </div>

  <div class="banner-2 row">
    <div class="col-xs-12">
      <%= image_tag @coffeeshop.picture.url if @coffeeshop.picture? %>
    </div>
  </div>

    <div class="col-md-6">
      <iframe width="425" height="425" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @coffeeshop.address %>&key=AIzaSyC7refRsrpNaOI9TrGEuhjJmI9bJAi1yI0"></iframe>
     </div>

    <% if current_user && current_user.admin? && @coffeeshop.menu.nil? %>
      <%= link_to 'Add a Menu', new_coffeeshop_menu_path(@coffeeshop), class: 'btn btn-default' %>
    <% end %>

    <% if current_user && current_user.admin? && @menu %>
      <%= link_to 'View Menu', coffeeshop_menu_path(@coffeeshop, @coffeeshop.menu), class: 'btn btn-gray' %>
      <%= link_to 'Add an Item to the Menu', new_menu_item_path(@menu) %>
    <% end %>

    <div class="container">

    <% if logged_in? %>
      <%= link_to 'Add a review', new_coffeeshop_review_path(@coffeeshop), class: 'btn btn-primary' %>
    <% end %>


    <%= will_paginate @reviews %>

    <% @reviews.each do |review| %>
      <div class="media well">
        <div class="media-left pull-left">
          <%= link_to user_path(review.user) do %>
            <%= gravatar_for review.user %>
          <% end %>       
        </div>
        <div class="media-body media-left">
          <h4 class="media-heading"><%= review.title %>
            <em class="pull-right"><%= time_ago_in_words(review.created_at) %> ago</em>
          </h4>
          <%= review.body %>
        </div>
      </div>
    <% end %>
    </div>

  <%= link_to 'Edit', edit_coffeeshop_path(@coffeeshop) %> |
</div>

