<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag("logo.png", alt: "logo") %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Joerator', root_url, class: 'navbar-item brand-text' %></li>
        <li><%= link_to 'Highest Rated',   coffeeshops_path,    class: 'navbar-item' %></li>
        <li><%= link_to 'Newest Editions', coffeeshops_path,    class: 'navbar-item' %></li>
        <li><%= link_to 'Most Reviewed',   coffeeshops_path,    class: 'navbar-item' %></li>
        <li><%= link_to 'Top Users',       users_path,          class: 'navbar-item' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to 'Log out', logout_path, method: "delete", class: 'navbar-item' %></li>
          <li><%= link_to "#{current_user.name}", user_path(current_user), class: 'navbar-item' %></li>
          <li>
            <%= link_to user_path(current_user), class: 'icon-tile navbar-item' do %>
              <%= gravatar_for(current_user) %>
            <% end %>
          </li>
          <% if current_user.admin? %>
            <li><%= link_to 'Admin Dashboard', dashboard_path, class: 'navbar-item' %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Log in', login_path, class: 'navbar-item' %></li>
          <li><%= link_to 'Sign up', new_user_path, class: 'navbar-item' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
