<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Kellogg Web Studio">
  <meta name="description" content="A site to rate, review and share coffeeshops.">

  <!-- Facebook -->
  <meta property="og:title" content="Joerator: Coffeeshop Reviewer" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.arcane-beach-9020.herokuapp.com/" />
  <meta property="og:image" content="app/assets/images/cup.jpeg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:site_name" content="Joerator: Coffeeshop Reviewer" />
  <meta property="og:description" content="Joerator is a social media site that allows people to create profiles, add coffeeshops, review coffeeshops and share them across their favorite social networks." />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Joerator">
  <meta name="twitter:description" content="Joerator is a social media site that allows people to create profiles, add coffeeshops, review coffeeshops and share them across their favorite social networks.">
  <meta name="twitter:url" content="http://www.arcane-beach-9020.herokuapp.com/">
  <meta name="twitter:image" content="http://www.arcane-beach-9020.herokuapp.com/">

</head>
<body>
  <%= render 'layouts/flash_messages' %>
  <div id="site-wrapper" class="container-fluid text-center">
    <%= render 'layouts/header' %>
    <div id="site-content-wrapper" class="container">
      <%= yield %>
    </div>
	</div>
</body>
</html>
